

	

<div id="section_3" class="section skills">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <p>I have specialized below skills:
          <ul class="list-group">
            <li class="list-group-item">#HTML5</li>
            <li class="list-group-item">#CSS3</li>
            <li class="list-group-item">#Javascipt  </li>
            <li class="list-group-item">#Bootsrap  </li>
            <li class="list-group-item">#Node Js  </li>
            <li class="list-group-item">#Angular</li>
            <li class="list-group-item">#Rest API  </li>
            <li class="list-group-item">#DB - PL/SQL</li>
          </ul>
        </div>
        
      </div>
    </div>


  <!-- End Skill-page Area -->